.color {
    margin: auto;
    height: 2rem;
    border-radius: 1.2rem;
    background-color: yellow;
    cursor: pointer;
}

body.jolo {
    background-color: black;
}

body.go {
    background-color: white;
}
